*{
    margin: 0; /* fjerner margin */
    padding: 0; /* fjerner padding */
    font-family: 'Courier New', Courier, monospace; /* font */
    overflow: hidden; /* fjerner scroll */
    user-select: none; /* fjerner markering */
}

/* boks */
.container {  /* boks */
    height: 100vh; /* boks højde */
    display: flex; /* flex */
    justify-content: center; /* center */
    align-items: center; /* center */
    flex-direction: column; /* flex direction */
    gap: 0px; /* gap */
    padding: 30px 0; /* padding */
}


/* score */
.score{ /* score */
    font-size: 6rem; /* font størrelse */
    font-weight: BOLD; /* font vægt */
    text-shadow: 0 0 0px rgb(255, 255, 255); /* tekst skygge */
    width: 100%; /* bredde */
    text-align: center; /* tekst align */
    color: white; /* farve */
}

/* cookie-container */
.cookie-container { /* cookie container */
    height: 320px; /* cookie container højde */
}

/* cookie */
.cookie{ /* cookie */
    width: 500px; /* cookie bredde */
    cursor: pointer; /* cursor */
    filter: drop-shadow(0 0 px white); /* filter */
    animation: rotates 10s linear infinite; /* animation */
}
/* cookie:hover */
.cookie:active { /* cookie hover */
    width: 280px; /* cookie bredde */
}   

/* cookie-effekt */
.cookie-particle { /* cookie effekt */
    width: 100px; /* cookie effekt bredde */
    position: absolute; /* position */
    top: -30px; /* top */
    left: 30px; /* left */
    word-spacing: 10px; /* word spacing */
    pointer-events: none; /* pointer events */
    animation: cookie-up 5s linear forwards; /* animation */
}

.powerups{ /* powerups */
    width: 100%; /* powerups bredde */
    height: 200px; /* powerups højde */
    display: flex; /* flex */
    align-items: center; /* center */
    justify-content: center; /* center */
    margin-bottom: 20px; /* margin bund */
    gap: 50px; /* gap */
}

/* powerup */
.powerup{ /* powerup */
    width: 150px; /* powerup bredde */
    height: 160px; /* powerup højde */
    border: 2px solid; /* border */
    cursor: pointer;    /* cursor */
    display: flex; /* flex */
    flex-direction: column; /* flex direction */
    justify-content: space-evenly;  /* center */
    align-items: center; /* center */
    border-radius: 10px; /* border raidus */
    background-color:#fff;  /* baggrundsfarve */
}

.powerup:active { /* powerup flyver */
    transform: scale(.9); /* transform */
}

.powerup .name { /* powerup navn */
    font-size: 1.3rem; /* font størrelse */
    font-weight: bold; /* font vægt */
}

.powerup .price { /* powerup pris */
    font-size: 1.1rem; /* font størrelse */
    color: rgb(0, 0, 0); /* farve */
}

.cursor.auto-click { /* cursor auto click */
    width: 80px; /* cursor bredde */
    transform: rotate(28deg); /* transform */
    padding-top: 10px; /* padding top */
}



.fejl { /* fejl rød firkant */
    border: 2px solid red; /* border */
    animation: error .3s linear infinite; /* animation */
}

.disable { /* disable */
    display: none; /* display none */
}

.auto-clicks h2 { /* auto clicks h2 */
    font-size: 2rem; /* font størrelse */
    font-weight: bold; /* font vægt */
    text-shadow: 0 0 10px #ededed; /* tekst skygge */
    text-align: center; /* tekst align */
    color: rgb(249, 247, 247); /* farve */
    padding: 10px 0; /* padding */
}

.auto-clicks { /* auto clicks */
    display: flex; /* flex */
    flex-direction: column; /* flex vej */
    align-items: center; /* center */
    overflow-y: visible; /* overflow y */
    width: 100%; /* bredde */
}

.cursor.auto { /* cursor auto */
    animation: clickEffect .5s; /* animation */
}

.cursor { /* cursor */
    width: 100px; /* cursor bredde */
}

/* Keyframes */

@keyframes rotates { /* keyframes rotates */
    from { /* fra */
        transform: rotate(0); /* transform */
    }
    to { /* til */
        transform: rotate(360deg); /* transform */
    }
}

@keyframes cookie-up { /* keyframes cookie up */
    from { /* fra */
        opacity: 1; /* opacity */
    }
    to { /* til */
        opacity: 0; /* opacity */
        top: 0; /* top */
    }
}

@keyframes clickEffect { /* keyframes click effect */
    to { /* til */
        transform: rotate(28deg) scale(.8); /* transform */
    }
    from { /* fra */
        transform: rotate(28deg) scale(.7); /* transform */
    } 
} 

@keyframes error { /* keyframes error */
    20% { /* 20% */
        transform: translateX(10px); /* transform */
    }
    40% { /* 40% */
        transform: translateX(0); /* transform */
    }
    60% { /* 60% */
        transform: translateX(-10px); /* transform */
    }
    80% { /* 80% */
        transform: translateX(0); /* transform */
    }
    100% { /* 100% */
        transform: translateX(10px); /* transform */
    } 
} 